html, body {
  height: 100%; /* Full height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.App {
  min-height: 100vh; /* Ensures the App div fills at least the full height of the viewport */
  display: flex;
  flex-direction: column;
}

.dark-grey-bg {
  background-color: #333; /* Dark grey color */
}

.text-color {
  color: #ffff
}

.img-style {
  height: 600px;
  display: block;
  margin: auto;
  object-fit: contain;
}